* {
    font-family: 'Inter' sans-serif;
    max-width: 1200px;
    
}

header {
    background: #3563E9;
    padding-left: 122px;
}

.wrap {
    /* max-width: 1200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.all_menu {
    display: flex;
    height: 79px;
    align-items: center;
}

.all_elemrntmenu {
    display:flex;
    width: 457px;
    
}


.logo {
    background-image: url(../svg/logo.svg);
    width:134px;
    height: 34px;
    margin-top: 24.9px;
    margin-bottom: 24.9px;
    
}

.menu_wrapper {
    list-style-type: none;
    color:#E0E0E0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.activ {
    font-weight: 700;
    color: #FFFFFF;
}

.and_header {
    display:flex;
    align-items: flex-start;
    gap: 20px;
}

.world {
    margin-top: 29px;
    margin-bottom: 29px;
}
 
.header_btn {
    width: 89px;
    height: 35px;
    background-color: #FFFFFF;
    border:none;
    border-radius: 5%;
}

.bottontop {
    font-weight: 500;
    font-size: 19px;
    color: #3563E9;
    margin: 8px 16px;
}


.bacground {
    background-image: url(../img/Image.jpg);
    max-width: 100%;
    height: 729px;
    display: flex;
    justify-content: center;
    margin:0px;
}
.wrapper_1 {
    width: 974px;
    
}
.buttonpage1 {
    width: 205px;
    height: 52px;
    border:none;
    background-color: #3563E9;
    margin-left: 381px;
    margin-top: 50px;
}

.btnonentn {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 30px;
    
}


.block_6, .block_7, .block_5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 120px;
}


.center {
    display: flex;
    gap: 230px;
}

.new_descr {
    width: 640px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}

.heder_secton_5 {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.updescr {
    font-weight: 600;
    font-size: 24px;
   margin: 0;
}

.comment {
    font-weight: 400;
    font-size: 15px;
    color: #757575;
    margin: 0;
}

.heading_5 {
    margin-bottom: 0px;
}

.block_6 {
background: #F7F9FE;
}

.descr {
margin-top: 60px;
font-weight: 400;
font-size: 20px;
letter-spacing: 0.2px;
color: #757575;
}

.descr_5 {
    margin-top: 32px;
} 

.heading {
font-weight: 600;
font-size: 48px;
text-align: center;
letter-spacing: 0.2px; 
}

.heading_one {
    margin-top: 221px;
    margin-bottom: 16px;
    /* margin-right: 190px;
    margin-left: 190px; */
} 
.onedescr {
    width: 733px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-left: 128px;
    margin-right: 128px;
}


.btn {
width: 413px;
height: 44px;
display: flex;
flex-direction: row;
gap: 32px;
margin-bottom: 60px;
}

.click {
width: 204px;
height: 44px;
position: relative;
}

.quest {
background: #3563E9;
border: none;
}

.free {
border: 1px solid #3563E9;
background: none;
}

a {  
padding-right: 30px;
letter-spacing: 0.46px;
font-size: 16px;
text-decoration: none;
}

.blue {
color: #FFFFFF;
}

.quotes {
color:#3563E9;
}

.arrow, .arrow_down {
position: absolute;
width: 9px;
height: 2px;
background: #3563E9;
top: 24px;
left: 148px;
}

.arrow_blue, .arrow_up {
transform: rotate(45deg);
transform-origin: bottom right;
top: 22px;
left: 146px;
}

.right, .arrow_left {
transform: rotate(-45deg);
}

.arrow_left, .arrow_blue {
background: #FFFFFF;
}

.descr_seven {
text-align: center;
margin-top: 16px;
}

.information {
padding-left: 10px;
width: 743px;
height: 72px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin: 0px 15px 20px 75px;
border-left: 2px #3563E9 solid;
}

.inform {
margin-top: 70px;
margin-left: 110px;
font-weight: 500;
font-size: 20px;
line-height: 28px;

}

summary {
margin-top: 22px;
width: 843px;
height: 46px;
list-style: none;

}
summary:before {
content: "+";
font-size: 20px;
font-weight: bold;
margin: 22px 21px 22px 0px;
color:#3563E9

}

details[open] summary:before {
content: "-";
border-bottom: none;
}

hr {
border: none;
border-top: 1px solid #cec6c6;
}